#videoContainer {
  display: flex;
}

.videoWrap {
  margin: 0 auto;
  position: relative;
}

#caption {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

header {
  border-bottom: solid 1px #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: "Raleway", sans-serif;
  padding-left: 1rem;
}

.logo {
  padding-right: 1rem;
  padding-top: 0.4rem;
}

.videoContainer {
  position: relative;
}

#videocanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
