#videoContainer {
    align-content: center;
}

header {
    border-bottom: solid 1px #eaeaea;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Raleway', sans-serif;
}